<div class="flex flex-col justify-center h-full gap-5">

  <div class="flex flex-col jutify-center gap-5">
  <img class="self-center" src="https://i.ibb.co/936C81d/Birre.png"  width="170" alt="Birre" border="0" />
    <button class="bg-[#3778c2] w-[100px] self-center rounded-lg p-3 text-white">
      <%= link_to 'LOG IN', new_user_session_path %>
    </button>

    <button class="bg-[#3778c2] w-[100px] self-center rounded-lg p-3 text-white">
      <%= link_to 'SIGN UP', new_user_registration_path %>
    </button>
  </div>
</div>